.beuys__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .beuys__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1280px) {
    .beuys__title {
        margin-left: 148px;
        margin-right: 115px;
    }
}