.visit {
    margin-top: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .visit {
        margin-top: 92px;
    }
}