.nft__country-name {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
}

@media screen and (min-width: 768px) { 
    .nft__country-name {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 1280px) { 
    .nft__country-name {
        font-size: 72px;
        line-height: 76px;
    }

    .nft__country-name span {
        display: block;
    }
}