.nft__button {
    margin-top: 61px;
    padding: 13px 20px 13px 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    background-color: #0278fe;
    cursor: pointer;
    transition: .4s;
}

.nft__button:hover {
    background-color: #0063d2;
}