.beuys__content {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.beuys__content p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .beuys__content {
        margin-top: 40px;
    }
}