.nft__country-artist-name {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;   
}

@media screen and (min-width: 1280px) {
    .nft__country-artist-name {
        align-self: self-end;
    }
}